body {
    background-color: #EFEFF2;
    background: url(../img/offer_ellipse-1-background.png) 100% 5% no-repeat;
    margin: 0;
    font-family: Inter, sans-serif;
    color: #19191C;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}

.right_nav {
    display: flex;
    align-items: center;
    gap: 68px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
    
}

.main_menu {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.main_menu_item {
    text-decoration: none;
    color: #19191C;
}

.left_nav {
    display: flex;
    gap: 48px;
    align-items: center;
}

.left_nav_item {
    color: #19191C;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.left_nav_button {
    color: #EFEFF2;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 37px;
    background: #19191C;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 230px;
    background: url(../img/offer_young-man-background.png) 100% 100% no-repeat;
}

main {
    background: url(../img/offer_ellipse-2-background.png) 0% 0% no-repeat;
}

h1, h2, h3{
    font-size: 58px;
    line-height: 72px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.offer_header {
    color: #19191C;
    width: 650px;
    padding: 186px 0px 0px;
}

.offer_description {
    color: #19191C;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 0px 0px 44px;
}

strong {
    color: #504DEE;
}

.offer_button {
    color: #fbfbfc;
    font-size: 18px;
    line-height: 22px;
    background-color: #504DEE;
    border: 0px;
    padding: 16px 38px;
}

.offer_discount {
    color: #19191C;
    padding: 110px 0px 8px 0px;
}

.offer_date {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.offer_list {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    position: relative;
    align-self: flex-start;
}

.offer_list_item {
    border: 2px solid #19191C;
    padding: 16px 36px;
    position: absolute;
}

.offer_list_photographer {
    top: 750px;
    right: 700px;
}

.offer_list_designer {
    top: 550px;
    right: 800px;
}

.offer_list_programmer {
    top: 350px;
    right: 680px;
}

.offer_list_animator {
    top: 180px;
    right: 570px;
}

.offer_list_illustrator {
    top: 100px;
    right: 330px;
}

.offer_list_marketer {
    top: 200px;
    right: 100px;
}

.learn {
    background-color: #19191C;
    color: #fbfbfc;
    padding: 160px 0px;
}

.learn_container {
    display: flex;
    gap: 146px;
}

@media screen and (max-width: 1366px) {

    .container {
        width: 1024px;
        margin: 0 auto;
    }

    .learn_container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .learn_stats {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) {

    .container {
        width: 800px;
        margin: 0 auto;
    }

    .learn_container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .learn_stats {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 600px;
        margin: 0 auto;
    }

    .learn_container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .learn_stats {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 375px) and (max-width: 430px) {

    .container {
        width: 300px;
        margin: 0 auto;
    }

    .learn_container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .learn_stats {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .learn_stats_item {
        text-align: center;
    }
}

.learn_description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.learn_stats {
    display: flex;
    gap: 86px;
}

.learn_stats_item {
    width: 178px;
}

.learn_stats_text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

hr {
    margin: 22px 0px 0px;
    height: 4px;
    border: 0;
    background-color: #fbfbfc;
}

.discover {
    padding: 168px 0px;
}

.discover_title {
    width: 50%;
    padding: 0px 0px 45px;
}

.discover_menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 65px;
}

.discover_list {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
}

.discover_button {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #19191C;
    background: none;
    border: 0;
}

.discover_see_more {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #19191C;
}

.discover_frames {
    display: flex;
    gap: 20px;
}

.discover_frame_title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #19191C;
    margin: 28px 0px 11px;
    padding: 0;
}

.discover_frame_text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #6D6D77;
    margin: 0;
    padding: 0;
}

.help_section {
    background: #DEEFE4;
    padding: 168px 0px;
}

.help_section_main {
    display: flex;
    justify-content: space-between;
}

.help_section_title {
    color: #19191C;
}

.help_section_text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #19191C;
    margin: 28px 0px;
    padding: 0;
}

.help_section_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input {
    width: 710px;
    border: none;
    border-bottom: 2px solid #19191C;
    background: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #19191C;
    padding: 0;
}

input:hover {
    background: #b1b1bd;
}

input:focus {
    background: #9ecdaf;
}

.help_section_button {
    font-size: 18px;
    line-height: 22px;
    color: #fbfbfc;
    padding: 16px 36px;
    background: #19191C;
    border: none;
    margin: 68px 0px 0px;
}



footer {
    background-color: #19191C;
    color: #EFEFF2;
    padding: 59px 0px 0px 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer_logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;   
    color: #fbfbfc; 
    text-decoration: none;
    padding: 0px 0px 15px;
}

.footer_contacts_info {
    color: #fbfbfc;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.sitemap {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #EFEFF2;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sitemap_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.sitemap_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sitemap_list_item {
    text-decoration: none;
    color: #EFEFF2;
}

.copyright {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 100px 0px 0px;
}

.copyright_link {
    color: #6D6D77;
    text-decoration: none;
}

.copyright_text {
    color: #6D6D77;
}
button:hover {
    background: #9ecdaf !important;
}

.help_section_button:active {
    padding: 18px 38px !important;
}

.offer_button:active {
    padding: 18px 40px !important;
}

.left_nav_button:hover {
    background: #9ecdaf !important;
}

.offer_list_item:hover {
    background: #9ecdaf !important;
}

.discover_button:focus {
    font-weight: 700;
    text-decoration: underline 4px;
    text-underline-offset: 10px;
}

.sitemap_list_item:hover {
    background: #6D6D77;
}

.sitemap_list_item:active {
    font-weight: 700;
}

.main_menu_item:hover {
    font-weight: 900;
}

.left_nav_item:hover {
    font-weight: 900;
}